.hero_section {
	padding: 120px 0;
	background: #fffafa;
    background: url(../images/kanak-background.jpg);
        .hero_row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 -16px;
            .hero_column{
                width: 50%;
                margin: 0 16px;
                .portfolio_name {
                    font-size: 32px;
                    font-weight: 900;
                    color: #fffafa;
                    margin-bottom: 32px;
                    -webkit-animation: slide 3.5s forwards;
                    -webkit-animation-delay: 2s;
                    animation: slide 3.5s forwards;
                    animation-delay: 2s;
                      /* for chrome and safari*/
                      -webkit-animation-duration: 1s;
                      -webkit-animation-name: slidein;
                
                      /*for firefox*/
                      -moz-animation-duration: 1s;
                      -moz-animation-name: slidein;
                
                        /* for opera*/
                      -o-animation-duration: 1s;
                      -o-animation-name: slidein;
                
                        /* Standard syntax*/
                      animation-duration: 1s;
                      animation-name: slidein;
                }
            
        }
        .hero_img-container {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            &:hover{
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
        }
        }
       
        .hero_img-container img {
            height: 450px;
            object-fit: cover;
            border-radius: 50px;
            animation: fadeInRight 2s ease-in-out;
         
        }
    }
  
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }